<table id = "historial_enviados" name = "historial_enviados" class="table table-striped table-hover table-responsive">
    <thead>
    <tr>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Destinatario</th>
        <th>Asunto</th>
        <th>Mensaje</th>
    </tr>
    </thead>

    <tbody>

    {% for m in datas %}
        <tr>
            <td>{{m['fecha']}}</td>
            <td>{{m['hora']}}</td>
            <td>{{m['nombreUsuario']}}</td>
            <td>{{m['asunto']}}</td>
            <td>{{m['mensaje']}}</td>
        </tr>
    {%endfor%}
    </tbody>

    </table>